<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>hiStory</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AppIcon-2</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-2</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-3</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-3</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>Icon-1</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>Paste photo directly to template</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Save and updait templates</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Save and updait templates</string>
	<key>NSRemindersUsageDescription</key>
	<string>This app use your photoalbums</string>
	<key>UIAppFonts</key>
	<array>
		<string>northrup-regular.ttf</string>
		<string>Bombardier.ttf</string>
		<string>YesevaOne.ttf</string>
		<string>Wes.otf</string>
		<string>USSRSTENCIL.otf</string>
		<string>Underdog.otf</string>
		<string>Stig.otf</string>
		<string>RussoOne.ttf</string>
		<string>Romochka.otf</string>
		<string>Prosto.ttf</string>
		<string>Philosopher-Regular.ttf</string>
		<string>Philosopher-Italic.ttf</string>
		<string>Philosopher-BoldItalic.ttf</string>
		<string>Philosopher-Bold.ttf</string>
		<string>PeaceSans.otf</string>
		<string>Oranienbaum.ttf</string>
		<string>NixieOne.ttf</string>
		<string>Neucha.otf</string>
		<string>Molot.otf</string>
		<string>Metro.otf</string>
		<string>Matias.otf</string>
		<string>MagnoliaScript.otf</string>
		<string>Lumberjack.otf</string>
		<string>London.otf</string>
		<string>LemonTuesday.otf</string>
		<string>Kazmann.ttf</string>
		<string>Imperial.ttf</string>
		<string>Hitchhike.otf</string>
		<string>Frenchpress.otf</string>
		<string>Freeride.otf</string>
		<string>Flow.otf</string>
		<string>Flow-Bold.otf</string>
		<string>Eleventh-Square.otf</string>
		<string>Dita-Sweet.otf</string>
		<string>Days.otf</string>
		<string>Cuprum-BoldItalic.ttf</string>
		<string>Cuprum-Regular.ttf</string>
		<string>Cuprum-Bold.ttf</string>
		<string>Bender-BoldItalic.otf</string>
		<string>Bender-Italic.otf</string>
		<string>Bender-Bold.otf</string>
		<string>Bender.otf</string>
		<string>Ardeco.ttf</string>
		<string>20db.otf</string>
		<string>Accuratist.otf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
