<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>New item</key>
	<dict>
		<key>name</key>
		<string>spring_mood</string>
		<key>containers</key>
		<array>
			<dict>
				<key>x</key>
				<integer>572</integer>
				<key>y</key>
				<integer>452</integer>
				<key>width</key>
				<integer>868</integer>
				<key>height</key>
				<integer>714</integer>
				<key>angle</key>
				<integer>-20</integer>
				<key>z</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>653</integer>
				<key>y</key>
				<integer>1049</integer>
				<key>width</key>
				<integer>854</integer>
				<key>height</key>
				<integer>678</integer>
				<key>angle</key>
				<integer>17</integer>
				<key>z</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>547</integer>
				<key>y</key>
				<integer>1596</integer>
				<key>width</key>
				<integer>813</integer>
				<key>height</key>
				<integer>594</integer>
				<key>angle</key>
				<integer>-9</integer>
				<key>z</key>
				<integer>3</integer>
			</dict>
		</array>
		<key>textfield</key>
		<dict>
			<key>x</key>
			<integer>818</integer>
			<key>y</key>
			<integer>804</integer>
			<key>angle</key>
			<integer>17</integer>
			<key>text</key>
			<string>in the moment</string>
			<key>font</key>
			<string>Arial</string>
			<key>sizePx</key>
			<integer>80</integer>
		</dict>
	</dict>
</dict>
</plist>
